%p
  = form.label :login
  = form.text_field :login
%p
  = form.label :name
  = form.text_field :name
%p
  = form.label :email
  = form.text_field :email
%p
  = form.label :password
  = form.password_field :password
%p
  = form.label :password_confirmation, 'Confirm Password'
  = form.password_field :password_confirmation
