%h1 User Details
- if @user.errors[:base]
  .error= @user.errors[:base]

%p= link_to 'Edit', edit_user_path(@user)

%p
  Login:
  = @user.login
%p
  Name:
  = @user.name
%p
  Email:
  = @user.email
%p
  Admin:
  - if @user.admin?
    %strong Yes
  - else
    No

%p= link_to 'List', users_path
