<h1>Appointment</h1>
<table class="single_record" cellpadding="3" width="100%">
  <tbody>
    <tr>
      <th width="50%">Name</th><td width="50%"><%= h appointment.name %></td>
    </tr>
    <tr>
      <th>Phone</th><td><%= h appointment.phone %></td>
    </tr>
    <tr>
      <th>Alt.Phone</th><td><%= h appointment.alternate_phone %></td>
    </tr>
    <tr>
      <th>Street</th><td><%= h appointment.street %></td>
    </tr>
    <tr>
      <th>City</th><td><%= h appointment.city %></td>
    </tr>
    <tr>
      <th>Postal Code</th><td><%= h appointment.postal_code %></td>
    </tr>
    <tr>
      <th>County</th><td><%= h appointment.county %></td>
    </tr>
    <tr>
      <th>Appt. Created</th><td><%= appointment.created_at.to_s(:mdytz) %></td>
    </tr>
    <tr>
      <th>Pet Name</th><td><%= h appointment.pet_name %></td>
    </tr>
    <tr>
      <th>Pet Type</th><td><%= appointment.cat_or_dog %></td>
    </tr>
    <tr>
      <th>Gender</th><td><%= appointment.gender %></td>
    </tr>
    <tr>
      <th>Age</th><td><%= appointment.age %></td>
    </tr>
    <tr>
      <th>Weight</th><td><%= appointment.weight %></td>
    </tr>
    <tr>
      <th>Date of Birth</th><td><%= appointment.date_of_birth %></td>
    </tr>
    <tr>
      <th>Want Chip Implant?</th><td><%= appointment.want_chip_implant? ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Want Rabies Vaccination?</th><td><%= appointment.want_rabies_vaccination? ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Breed</th><td><%= h appointment.breed %></td>
    </tr>
    <tr>
      <th>Color</th><td><%= h appointment.color %></td>
    </tr>
    <tr>
      <th>How Long Have You Had Your Pet?</th><td><%= h appointment.owned_for %></td>
    </tr>
    <tr>
      <th>Has Your Pet Been Vaccinated?</th><td><%= appointment.vaccinated? ? "Yes" : content_tag(:strong, "No") %></td>
    </tr>
    <tr>
      <th>Visited Veterinarian?</th><td><%= appointment.visited_vet? ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <th>Veterinarian Name</th><td><%= h appointment.vet_name %></td>
    </tr>
    <tr>
      <th>Pregnant?</th>  <td><%= appointment.pregnant? ? content_tag(:strong, "Yes") : "No" %></td>
    </tr>
    <tr>
      <th>Had Litter When</th><td><%= h appointment.had_litter_when %></td>
    </tr>
    <tr>
      <th>Surgery?</th><td><%= appointment.surgeries? ? "Yes" : "No" %></td>
    </tr>
    <% if appointment.surgeries? -%>
      <tr>
        <th>&nbsp;</th><td><%= h appointment.surgeries_explanation %></td>
      </tr>
    <% end -%>
    <tr>
      <th>Health Concerns?</th><td><%= appointment.health_concerns? ? "Yes" : "No" %></td>
    </tr>
    <% if appointment.health_concerns? -%>
      <tr>
        <th>&nbsp;</th><td><%= h appointment.health_concerns_explanation %></td>
      </tr>
    <% end -%>
    <tr>
      <th>Medications?</th><td><%= appointment.medications? ? "Yes" : "No" %></td>
    </tr>
    <% if appointment.medications? -%>
      <tr>
        <th>&nbsp;</th><td><%= h appointment.medications_explanation %></td>
      </tr>
    <% end -%>
    </tr>
    <tr>
      <th>Comments</th><td><%= h appointment.comments %></td>
    </tr>
  </tbody>
</table>