<h2>Appointment</h2>
<table class="single_record" cellpadding="3" width="100%">
  <tbody>
    <tr>
      <th width="50%">Request created on</th><td width="50%"><%= appointment.created_at.to_s(:mdytz) %></td>
    </tr>
    <tr>
      <th>Client name</th><td><%= h appointment.client_name_last_comma_first %></td>
    </tr>
    <tr>
      <th>Phone</th><td><%= h formatted_phone(appointment.phone) %></td>
    </tr>
    <tr>
      <th>What is the best time to contact you?</th><td><%= h appointment.best_time_to_contact_client %></td>
    </tr>
    <tr>
      <th>Alternate phone</th><td><%= h formatted_phone(appointment.alternate_phone) %></td>
    </tr>
    <tr>
      <th>E-mail</th><td><%= mail_to(h(appointment.email)) unless appointment.email.blank? %></td>
    </tr>
    <tr>
      <th>Street address</th><td><%= h appointment.street %></td>
    </tr>
    <tr>
      <th>City</th><td><%= h appointment.city %></td>
    </tr>
    <tr>
      <th>Postal code</th><td><%= h appointment.postal_code %></td>
    </tr>
    <tr>
      <th>County</th><td><%= h appointment.county %></td>
    </tr>
    <tr>
      <th>Pet name</th><td><%= h appointment.pet_name %></td>
    </tr>
    <tr>
      <th>Type of pet</th><td><%= appointment.cat_or_dog %></td>
    </tr>
    <tr>
      <th>Gender</th><td><%= h appointment.gender %></td>
    </tr>
    <tr>
      <th>Age</th><td><%= h appointment.age %></td>
    </tr>
    <tr>
      <th>Weight</th><td><%= h appointment.weight %></td>
    </tr>
    <tr>
      <th>Date of birth</th><td><%= h appointment.date_of_birth %></td>
    </tr>
    <tr>
      <th>Breed</th><td><%= h appointment.breed %></td>
    </tr>
    <tr>
      <th>Color</th><td><%= h appointment.color %></td>
    </tr>
    <tr>
      <th>Would you like a chip implant?</th><td><%= formatted_boolean(appointment.want_chip_implant?) %></td>
    </tr>
    <tr>
      <th>Would you like a rabies vaccination?</th><td><%= formatted_boolean(appointment.want_rabies_vaccination?) %></td>
    </tr>
    <tr>
      <th>Additional information</th><td><%= h appointment.comments %></td>
    </tr>
    <tr>
      <th>Is your pet in heat?</th>  <td><%= h appointment.pet_in_heat %></td>
    </tr>
    <tr>
      <th>Is your pet pregnant?</th>  <td><%= h appointment.pet_pregnant %></td>
    </tr>
    <tr>
      <th>Did your pet have a litter? If so, when?</th><td><%= h appointment.had_litter_when %></td>
    </tr>
    <tr>
      <th>Has your male pet's testicles decended?</th><td><%= h appointment.pet_testicles_decended %></td>
    </tr>
    <tr>
      <th>If so, how many?</th><td><%= appointment.testicle_count %></td>
    </tr>
    <tr>
      <th>How did you acquire your pet?</th><td><%= h appointment.acquired_from %></td>
    </tr>
    <tr>
      <th>How long have you owned your pet?</th><td><%= h appointment.owned_for %></td>
    </tr>
    <tr>
      <th>Has your pet been vaccinated?</th><td><%= h appointment.pet_vaccinated %></td>
    </tr>
    <tr>
      <th>Veterinarian's name</th><td><%= h appointment.vet_name %></td>
    </tr>
    <tr>
      <th>Any previous surgery? If so, please explain</th><td><%= h appointment.surgeries_explanation %></td>
    </tr>
    <tr>
      <th>Any previouse health issues? If so, please explain</th><td><%= h appointment.health_concerns_explanation %></td>
    </tr>
    <tr>
      <th>Any medications? If so, please explain</th><td><%= h appointment.medications_explanation %></td>
    </tr>
  </tbody>
</table>
