<div id="appointments_listing">
  <h1>Appointments</h1>
  <div class="search">
    <% form_tag search_path do %>
      <%= label_tag "Last Name:" %>
      <%= text_field_tag :last_name %>
      <%= label_tag "County:" %>
      <%= text_field_tag :county %>
      <%= label_tag "Zip Code" %>
      <%= text_field_tag :postal_code, nil, :size => 10, :max_length => 10 %>
      <div class="booleans">
        <%= label_tag "Cat" %>
        <%= radio_button_tag :cat_or_dog, :cat %>
        <%= label_tag "Dog" %>
        <%= radio_button_tag :cat_or_dog, :dog %>
        <%= label_tag "Visited vet?" %>
        <%= check_box_tag :visited_vet %>
        <%= label_tag "Vaccinated?" %>
        <%= check_box_tag :vaccinated %>
      </div>
      <%= submit_tag :search, :class => "button"  %>
    <% end %>
  </div>  
  <% if @appointments.blank? %>
    <h2>There are no appointments.</h2>
  <% else %>  
  
      <%= will_paginate @appointments %>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Pet</th>
            <th>Vaccinated?</th>
            <th>Pregnant?</th>
            <th>Surgery?</th>
            <th>Health?</th>
            <th>Meds?</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| -%>
            <tr>
              <td><%= appointment.name %> </td>
              <td>
                <%= appointment.phone %><br />
                <%= appointment.alternate_phone %>
              </td>
              <td><%= appointment.cat_or_dog %>/<%= appointment.gender %>: <%= appointment.pet_name %> </td>
              <td><%= appointment.vaccinated? ? "Yes" : content_tag(:strong, "No") %> </td>
              <td><%= appointment.pregnant?   ? content_tag(:strong, "Yes") : "No" %> </td>
              <td><%= link_to_if(appointment.surgeries, "Yes", appointment, :anchor => 'surgeries',
                                 :title => h(appointment.surgeries_explanation)) {|_| "No" } %> </td>
              <td><%= link_to_if(appointment.health_concerns, "Yes", appointment, :anchor => 'health_concerns',
                                 :title => h(appointment.health_concerns_explanation)) {|_| "No" } %> </td>
              <td><%= link_to_if(appointment.medications, "Yes", appointment, :anchor => 'medications',
                                 :title => h(appointment.medications_explanation)) {|_| "No" } %> </td>
              <td><%= link_to 'Show', appointment %> </td>
            </tr>
          <% end -%>
        </tbody>
      </table>

      <%= will_paginate @appointments %>
  <% end %>
</div>