#appointments_listing
  %h2 Appointments
  .search

    - form_for @search do |f|
      %label Last Name:
      = f.text_field :last_name_like
      
      %label County:
      = f.text_field :county_like
      
      %label Zipcode:
      = f.text_field :postal_code_like, :size => 10
      
      = f.check_box "pet_type_like_any[]", :value => "cat"
      %label Cats

      = f.check_box "pet_type_like_any[]", :value => "dog"
      %label Dogs

      = f.submit "Search"

  .statistics
    Cats
    = @search.count(:conditions => {:pet_type => 'cat'})

    Dogs
    = @search.count(:conditions => {:pet_type => 'dog'})

  - if @appointments.blank?
    %h3.no_data There are no appointments matching the criteria you've selected.
    
  - else
    = will_paginate @appointments
    - form_tag(appointment_path(0), :method => 'get') do
      = submit_tag "Print Selected" 
      %table
        %thead
          %tr
            %th &nbsp;
            %th ID
            %th Client Name
            %th Phone
            %th Pet Name
            %th Vaccinated?
            %th Pregnant?
            %th Surgery?
            %th Health?
            %th Meds?
            %th &nbsp;
        %tbody
          - @appointments.each do |appointment|
            %tr
              %td
                = check_box_tag "ids[]", appointment.id
              %td
                = appointment.id
              %td
                = appointment.client_name_last_comma_first
              %td
                = formatted_phone(appointment.phone)
                %br
                = formatted_phone(appointment.alternate_phone)
              %td
                = "#{appointment.pet_type} / #{appointment.gender}: #{appointment.pet_name}"
              %td
                = appointment.pet_vaccinated
              %td
                = appointment.pet_pregnant
              %td
                = appointment.surgeries_explanation
              %td
                = appointment.health_concerns_explanation
              %td
                = appointment.medications_explanation
              %td
                = link_to 'Show', appointment
          %tr.last
            %td{ :colspan => "2" }
              = submit_tag "Print Selected"
            %td{ :colspan => "8" } &nbsp;
    = will_paginate @appointments
