#appointments_listing
  %h2 Appointments
  .search

    - form_for @search do |f|
      %label Last Name:
      = f.text_field :last_name_like, :size => 15
      
      %label County:
      = f.text_field :county_like, :size => 15
      
      %label Zipcode:
      = f.text_field :postal_code_like, :size => 10
      
      %span.separator
        |
      
      = f.check_box "pet_type_equals_any", {:name => "search[pet_type_equals_any][]"}, "cat"
      %label Cats

      = f.check_box "pet_type_equals_any", {:name => "search[pet_type_equals_any][]"}, "dog"
      %label Dogs

      %span.separator
        |
      
      %label Dates
      = f.text_field :created_at_after, :size => 11

      %label -
      = f.text_field :created_at_before, :size => 11

      = f.submit "Search"

  .search_statistics
    = "Search returned <strong>#{number_with_delimiter(@search.count)}</strong> results: "
    = "<strong>#{@search.count(:conditions => {:pet_type => 'cat'})}</strong> cats and "
    = "<strong>#{@search.count(:conditions => {:pet_type => 'dog'})}</strong> dogs."

  - if @appointments.blank?
    %h3.no_data There are no appointments matching the criteria you've selected.
    
  - else
    = will_paginate @appointments
    - form_tag(print_appointments_path) do
      = submit_tag "Print Selected" 
      %table
        %thead
          %tr
            %th &nbsp;
            %th ID
            %th Client Name
            %th Phone
            %th Pet Name
            %th Pet Type
            %th Pet Sex
            %th Vaccinated?
            %th Pregnant?
            %th &nbsp;
        %tbody
          - @appointments.each do |appointment|
            %tr{ :id => "appointment_#{appointment.id}" }
              %td
                = check_box_tag "ids[]", appointment.id, false, :id => "appointment_checkbox_#{appointment.id}", :class => "appointment_check_box"
              %td
                = appointment.id
              %td
                = appointment.client_name_last_comma_first
              %td
                = formatted_phone(appointment.phone)
                %br
                = formatted_phone(appointment.alternate_phone)
              %td
                = appointment.pet_name
              %td
                = appointment.pet_type.capitalize
              %td
                = appointment.gender.humanize
              %td
                = appointment.pet_vaccinated.to_s.humanize
              %td
                = appointment.pet_pregnant.to_s.humanize
              %td
                = link_to 'Show', appointment
          %tr.last
            %td{ :colspan => "2" }
              = submit_tag "Print Selected", :id => "print_submit"
            %td{ :colspan => "8" } &nbsp;
    = will_paginate @appointments
