= error_messages_for :appointment
%fieldset
  - form_for @appointment, :html => {:class => "bp"} do |form|
    .user_info
      %fieldset
        %legend Contact Information
        %p
          = form.label :first_name
          %br
          = form.text_field :first_name
        %p
          = form.label :last_name
          %br
          = form.text_field :last_name
        %p
          = form.label :phone
          %br
          = form.text_field :phone
        %p
          = form.label :alternate_phone
          %br
          = form.text_field :alternate_phone
    .address_container
      %fieldset
        %legend Address
        %p.street
          = form.label :street
          %br
          = form.text_field :street
        %p.city
          = form.label :city
          %br
          = form.text_field :city
        %p.postal_code
          = form.label :postal_code
          %br
          = form.text_field :postal_code
        %p.county
          = form.label :county
          %br
          = form.text_field :county
    .pet_information
      %fieldset
        %legend Basic Pet Information
        %p
          = form.label :pet_name
          %br
          = form.text_field :pet_name
        %p
          %label What type of animal is it:
          %br
          = form.radio_button :cat_or_dog, :dog
          = label_tag :appointment_cat_or_dog_dog, "Dog"
          %br
          = form.radio_button :cat_or_dog, :cat
          = label_tag "appointment_cat_or_dog_cat", "Cat"
          %br
        %p
          %label Gender:
          %br
          = radio_button_tag :gender, :male
          = label_tag "gender_male", "Male"
          %br
          = radio_button_tag :gender, :female
          = label_tag "gender_female", "Female"
          %br    
          = radio_button_tag :gender, :not_sure
          = label_tag "gender_not_sure", "Not Sure"
          
        %p
          = form.label :age
          %br
          = form.text_field :age
          %br
          %span.notes Month and year or an approximation
        %p.dog_only
          = form.label :weight
          %br
          = form.text_field :weight
          %br
          An approximation is fine
        %p
          = form.label :date_of_birth
          %br
          = form.text_field :date_of_birth
        %p
          = form.check_box :want_chip_implant
          = form.label :want_chip_implant, "Would you like a chip implant?"
          
        %p
          = form.check_box :want_rabies_vaccination
          = form.label :want_rabies_vaccination, "Would you like a rabies vaccination?"
            
        
        %p.dog_only
          = form.label :breed
          %br
          = form.text_field :breed
        %p
          = form.label :color
          %br
          = form.text_field :color
        %p.cat_only
          = form.label :hair_length
          %br
          = form.text_field :hair_length
    .pet_history
      %fieldset
        %legend Pet History
        %p
          = form.label :owned_for, "How long have you owned the pet"
          %br
          = form.text_field :owned_for
        %p
          = form.check_box :vaccinated
          = form.label :pet_goes_outside, "Is your pet vaccinated?"
        %p
          = form.label :visited_vet, "Has your pet visited the veterinarian?"
          %br
          = form.text_field :visited_vet
        %p
          = form.label :vet_name, "Veterinarian name"
          %br
          = form.text_field :vet_name
                  
      %fieldset
        %legend Litter/Pregnancy Information
        %p
          %label Is your pet pregnant?
          %br
          = radio_button_tag :pregnant, :yes 
          = label_tag "pregnant_yes", "Yes"
          %br
          = radio_button_tag :pregnant, :no
          = label_tag "pregnant_no", "No"
          %br    
          = radio_button_tag :pregnant, :not_sure
          = label_tag "pregnant_not_sure", "Not Sure"
          
        %p
          = form.label :had_litter_when, "Has your pet had a litter?  If so when?"
          %br
          = form.text_field :had_litter_when
      
        %p.dog_only
          = form.check_box :in_heat
          = form.label :in_heat, "Is your pet in heat?"
      
        %p              
          Please list any surgeries you pet has undergone:
          = form.text_area :surgeries_explanation

        %p
          Please list any health concerns you pet has:
          = form.text_area :health_concerns

        %p
          Please list any medications you pet is on:
          = form.text_area :medications_explanation
    .finished
      Please list any other information you have: 
      %br
      = form.text_area :comments      
    
      = form.submit "I'm Done, send the request to C-SNIP"
