.request
  %h1 Request an Appointment for your Pet
  .errorExplanationContainer
    = error_messages_for :appointment, :class => "error"

- form_for @appointment, :html => {:class => "bp"} do |form|
  .user_info
    %fieldset
      %legend Contact Information
      %p.required
        = form.label :first_name
        %br
        = form.text_field :first_name
      %p.required
        = form.label :last_name
        %br
        = form.text_field :last_name
      %p.required
        = form.label :phone
        %br
        = form.text_field :phone
        %br
        %span.notes e.g., (616) 555-5555
      %p
        = form.label :best_time_to_contact_client, "What is the best time to contact you?"
        %br
        = form.text_field :best_time_to_contact_client
      %p
        = form.label :alternate_phone
        %br
        = form.text_field :alternate_phone
        %br
        %span.notes e.g., (616) 555-5555
      %p
        = form.label :email
        %br
        = form.text_field :email

  .address_container
    %fieldset
      %legend Address
      %p
        = form.label :street, "Street address"
        %br
        = form.text_field :street
      %p
        = form.label :city
        %br
        = form.text_field :city
      %p
        = form.label :postal_code, "Zipcode"
        %br
        = form.text_field :postal_code
      %p.county
        = form.label :county
        %br
        = form.text_field :county

  .pet_information.clear
    %fieldset
      %legend Basic Pet Information
      %p.required
        = form.label :pet_name
        %br
        = form.text_field :pet_name
      %p.required
        %label Your pet is a
        %br
        = form.radio_button :pet_type, :dog
        = form.label :pet_type, "Dog", :value => :dog
        %br
        = form.radio_button :pet_type, :cat
        = form.label :pet_type, "Cat", :value => :cat
        %br
      %p.required
        %label Sex
        %br
        = form.radio_button :gender, :male
        = form.label :gender, "Male", :value => :male
        %br
        = form.radio_button :gender, :female
        = form.label :gender, "Female", :value => :female
        %br
        = form.radio_button :gender, :not_sure
        = form.label :gender, "Not sure", :value => :not_sure
      %p.required
        = form.label :age
        %br
        = form.text_field :age
        %br
        %span.notes e.g., 8 years, about 2 months
      %p.dog_only
        = form.label :weight
        %br
        = form.text_field :weight
        %br
        %span.notes An approximation is fine
      %p
        = form.label :date_of_birth
        %br
        = form.text_field :date_of_birth
      %p.dog_only
        = form.label :breed
        %br
        = form.text_field :breed
      %p
        = form.label :color
        %br
        = form.text_field :color
      %p
        = form.check_box :want_chip_implant
        = form.label :want_chip_implant, "Would you like a chip implant?"
      %p
        = form.check_box :want_rabies_vaccination
        = form.label :want_rabies_vaccination, "Would you like a rabies vaccination?"                
      %p
        = form.label :comments, "Please list any other information you have:"
        %br
        = form.text_area :comments

  .pet_history
    %fieldset
      %legend Pet History
      %p
        %label How did you acquire your pet?
        %br
        = form.radio_button :acquired_from_type, :stray
        = form.label :acquired_from_type, "Stray", :value => :stray
        %br
        = form.radio_button :acquired_from_type, :adopted
        = form.label :acquired_form_type, "Adopted", :value => :adopted
        %br
        = form.radio_button :acquired_from_type, :friend
        = form.label :acquired_from_type, "Friend", :value => :friend
        %br
        = form.radio_button :acquired_from_type, :breeder
        = form.label :acquired_from_type, "Breeder", :value => :breeder
        %br
        = form.radio_button :acquired_from_type, :other
        = form.label :acquired_from_type, "Other", :value => :other
        %br
          %span{ :style => 'margin-left: 20px;' }
            = form.text_field :acquired_from_other_description
      %p
        = form.label :owned_for, "How long have you owned your pet?"
        %br
        = form.text_field :owned_for
        %br
        %span.notes e.g., 1 year, about 18 months
      %p
        %label Has your pet been vaccinated?
        %br
        = form.radio_button :pet_vaccinated, :yes
        = form.label :pet_vaccinated, "Yes", :value => :yes
        %br
        = form.radio_button :pet_vaccinated, :no
        = form.label :pet_vaccinated, "No", :value => :no
        %br
        = form.radio_button :pet_vaccinated, :not_sure
        = form.label :pet_vaccinated, "Not Sure", :value => :not_sure
      %p
        = form.label :vet_name, "Veterinarian's name"
        %br
        = form.text_field :vet_name
      %p
        = form.label :surgeries_explanation, "Any previous surgery? If so, please explain:"
        = form.text_area :surgeries_explanation
      %p
        = form.label :health_concerns_explanation, "Any health issues? If so, please explain:"      
        = form.text_area :health_concerns_explanation
      %p
        = form.label :surgeries_explanation, "Any medications? If so, please explain:"      
        = form.text_area :medications_explanation

    %fieldset
      %legend Fertility Information
      %p
        %label Is your pet in heat?
        %br
        = form.radio_button :pet_in_heat, :yes
        = form.label :pet_in_heat, "Yes", :value => :yes
        %br
        = form.radio_button :pet_in_heat, :no
        = form.label :pet_in_heat, "No", :value => :no
        %br
        = form.radio_button :pet_in_heat, :not_sure
        = form.label :pet_in_heat, "Not Sure", :value => :not_sure
      %p
        %label Is your pet pregnant?
        %br
        = form.radio_button :pet_pregnant, :yes
        = form.label :pet_pregnant, "Yes", :value => :yes
        %br
        = form.radio_button :pet_pregnant, :no
        = form.label :pet_pregnant, "No", :value => :no
        %br
        = form.radio_button :pet_pregnant, :not_sure
        = form.label :pet_pregnant, "Not Sure", :value => :not_sure
      %p
        = form.label :had_litter_when, "Has your pet had a litter?  If so, when?"
        %br
        = form.text_field :had_litter_when
      %p
        %label Has your male pet's testicles decended?
        %br
        = form.radio_button :pet_testicles_decended, :yes
        = form.label :pet_testicles_decended, "Yes", :value => :yes
        %br
        = form.radio_button :pet_testicles_decended, :no
        = form.label :pet_testicles_decended, "No", :value => :no
        %br
        = form.radio_button :pet_testicles_decended, :not_sure
        = form.label :pet_testicles_decended, "Not Sure", :value => :not_sure
      %p
        %label If so, how many?
        %br
        = form.radio_button :testicle_count, 1
        = form.label :testicle_count, "1", :value => 1
        %br
        = form.radio_button :testicle_count, 2
        = form.label :testicle_count, "2", :value => 2

  .finished
    %fieldset
      = form.submit "I'm Done, send the request to C-SNIP"
