<% form_for @appointment do |form| %>
  <p>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </p>
  <p>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :alternate_phone %>
    <%= form.text_field :alternate_phone %>
  </p>
  <p>
    <%= form.label :pet_name %>
    <%= form.text_field :pet_name %>
  </p>
  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>  