<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>C-SNIP</title>
  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'compiled/print.css', :media => 'print' %>
  <% stylesheet_link_tag 'screen', :media => 'screen' %>

  <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %>
  <![endif]-->
</head>
<body class="bp">
  <div id="container" class="">
    <%= flash_div :error, :warning, :notice %>
    <%= yield %>
    <div id="footer">
      &copy; 2009 (C-SNIP) Community Spay/Neuter Initiative Partnership
    </div>
  </div>
</body>
</html>
